<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Upload list</h3>
          <ul id="uploadList">
            <% for (let item of fileList) {%>
              <li>
                <a target="_blank" href="/upload/<%= item.name %>"><%= item.name %></a> Comment: <%= item.comment %>
              </li>
            <%}%>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <h3>Upload prpogress</h3>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="upload-input">
            </div>
            <div class="input-group mb-3">
              <textarea class="form-control" name="comment" id="comment-input" placeholder="comment"></textarea>
            </div>
            <button class="btn btn-primary" type="button" id="uploadBtn">Upload</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
